.fondoLogin {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
		url(./assets/img/fondo2.jpg);
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.contenedorLogin {
	background-color: rgb(233, 228, 228);
	border-radius: 2rem;
}

.borderInput {
	border-radius: 2rem;
	background-color: rgb(223, 214, 214);
}

.btn-grad {
	background-image: linear-gradient(to right, #f09819 0%, #edde5d 51%, #f09819 100%);
}
.btn-grad {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 2rem;
	display: block;
	border: none;
	font-size: 1.8rem;
	width: 91%;
	margin-left: 1.7rem;
}

.btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.colorPrincipal {
	color: #2f3848;
}
.bgPrincipal {
	background-color: #2f3848;
}

.gris {
	background-color: #d4deee;
}

.delete {
	font-size: 10px;
}
